body {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    font-family: 'Oswald', sans-serif;
flex-direction: row;
}

    header{
    display: flex;
    height: auto;
    width: 520px;
    margin: 0;
text-align: center;

}

.navegacion {
background-color: rgba(0, 0, 0, 0.685); 
border-radius: 15px;
width: auto;
height: auto;
}

.navegacion li:hover{
    color: rgba(0, 0, 0, 0.315);
}

ul { 
    
list-style: none;
display: flex;
justify-content: space-between;
}

ul  li {
    padding: 30px 30px; 
}
button {
    margin: 30px;
    border-radius: 10px;
    width: 140px;
    height: 35px;}
main {
    font-size: 2rem;
    height: 100vh;
}
p {
    font-size: 1rem;
}
h2 h3{
    font-size: 1.5rem;
}